caml/Makeconf
caml/Makeconf.sh
kernel/Makeconf
kernel/Makeconf.sh
ocaml-freestanding.pc
freestanding.conf
caml/nolibc/*.o
caml/nolibc/*.a
caml/nolibc/test-include/
ocaml/
kernel/include
kernel/bin
kernel/lib/*.o
kernel/lib/*.d
kernel/lib/*.elf
_build/
Makeconf
Makeconf.sh
